.App {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
    font-family: monospace;
}

/*.App-header {
    background-color: #7d8ba7;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}*/

.App-link {
    color: #61dafb;
}

.h2 {
    size: 12px;
}

.buttons {
    margin: 20px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
